@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background: #edeef0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

img {
  width: 100px;
  height: 100px;
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.mypage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 10px 120px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  height: 97vh;
}

.input-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  align-items: center;
}

label {
  text-align: left;
  flex: 1;
  font-size: 14px;
}

input {
  flex: 2;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 350px;
  box-sizing: border-box;
}

.disabled-input {
  pointer-events: none;
  background-color: #f0f0f0;
  color: #888;
  border: 1px solid #ccc;
}

.mypage a {
  text-align: center;
  text-decoration: none;
  color: inherit;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #9599b5;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  width: 250px;
  margin-bottom: 10px;
  align-self: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button:hover {
  background-color: #565e9b;
}

.profile-image-label {
  padding: 10px 20px;
  background-color: #8e8f8e;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  width: 250px;
  text-align: center;
  display: inline-block;
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 12px;
}

.profile-image-label:hover {
  background-color: #474b48;
}

input[type="file"] {
  display: none;
}
