@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row; /* 사이드바 + 마이페이지 레이아웃 */
  width: 100%;
  min-height: 100vh;
  background: #edeef0;
  padding: 0;
}

img {
  width: 100px;
  height: 100px;
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.sidebar {
  width: 250px;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar-logo {
  text-align: center;
  margin-bottom: 40px;
}

.sidebar-logo img {
  width: 80px;
  height: 80px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  margin: 20px 0;
}

.sidebar-menu a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 16px;
  transition: color 0.2s ease-in-out;
}

.sidebar-menu a:hover {
  color: #565e9b;
}

.withdrawal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 10px 120px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  height: 97vh;
  margin: 11px;
  margin-left: 20%;
}

.input-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  align-items: center;
}

label {
  text-align: left;
  flex: 1;
  font-size: 14px;
}

input {
  flex: 2;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 350px;
  box-sizing: border-box;
}

.disabled-input {
  pointer-events: none;
  background-color: #f0f0f0;
  color: #888;
  border: 1px solid #ccc;
}

.withdrawal a {
  text-align: center;
  text-decoration: none;
  color: inherit;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #ef5454;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  width: 250px;
  margin-bottom: 10px;
  align-self: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button:hover {
  background-color: #c63838;
}

.disabled-input {
  background-color: #f0f0f0;
  color: #888;
  border: 1px solid #ccc;
}
