<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="login.css" />
  </head>
  <body>
    <div class="container">
      <div class="login">
        <div class="logo">
          <img src="./tasket-logo-black.png" alt="로고 이미지" />
        </div>
        <!-- <form role="form" method="post" class="login-form"> -->
        <p>
          <input
            type="text"
            placeholder="아이디를 입력해 주세요."
            name="userId"
            required
          />
        </p>
        <p>
          <input
            type="password"
            placeholder="비밀번호를 입력해주세요."
            name="userPassword"
          />
        </p>
        <button>로그인</button>

        <button class="kakao-login">카카오로 로그인</button>

        <p class="links">
          <a href="/find-password">비밀번호 찾기</a> |
          <a href="/signup">회원가입</a>
        </p>
        <!-- </form> -->
      </div>
    </div>
  </body>
</html>
